
//Variables

//Shared
@fontFace: "Helvetica";

//Colors for layout
/*
@bodyBackground: #666666; //dark gray
@titleBackground: #eeeeff; //light blue
@flexBackground: #ddeeff; //light blue 2
@flexContentBackground: #aabbbb; //blue gray
@pageBackground: #ffee00; //yellow
*/

//Colors for display
@bodyBackground: white;
@titleBackground: white;
@flexBackground: white;
@flexContentBackground: white;
@pageBackground: white;

//Page
@pageWidth: 960px;
@standardMargin: 10px;

//Styles

body{
  background-color: @bodyBackground;
}


.page{
  margin-left: auto;
  margin-right: auto;
  width: @pageWidth;
  background-color: @pageBackground;
}

//Title Styles

.title{
  text-align: center;
  margin-top: @standardMargin;
  margin-left: @standardMargin;
  margin-right: @standardMargin;
  background-color: @titleBackground;
}

.title1{
  font: 40px @fontFace, sans-serif;
  padding-top:140px;
}

.title2{
  font: 24px @fontFace, sans-serif;
  margin-top:60px;
}

.title3{
  font: 18px @fontFace, sans-serif;
  color: #aba6a6;
  margin-top:24px;
}


//Flex Styles

.flexContainer {
  display:flex;
  margin-top:60px;
  background-color: @flexBackground;
}

.flexContent {
  margin:10px;
  font: 16px @fontFace, sans-serif;
  text-align: left;
  background-color: @flexContentBackground;
}

.flexContentMinor{
  flex: 1 1 auto;
}

.flexContentMajor {
  flex: 99 2 auto;	
}

.flexGrid{
  margin:10px;
  width:60px;
  background-color: gray;

}

