
//Variables

//Text
@fontFace: "Helvetica";
@textColor1: black;
@textColor2: black;
@textColor3: #aba6a6;


//Colors for testing layout (comment out the colors for display block to see these)
@selectionBackground: #4178BE;  //blue
@bodyBackground: #696969; //dark gray
@pageBackground: #ffee00; //yellow
@titleBackground: #eeeeff; //light blue
@flexBackground: #ddeeff; //light blue 2
@flexContentBackground: #aabbbb; //blue gray
@flexGalleryBackground: #a9a9a9; //mid gray

//Colors for display
@selectionBackground: #4178BE;
@bodyBackground: #e9e9e9;
@pageBackground: white;
@titleBackground: white;
@flexBackground: white;
@flexContentBackground: white;
@flexGalleryBackground: #a9a9a9; //mid gray

//Sizes
@pageWidth: 960px;
@standardMargin: 10px;
@standardPadding: 20px;


//Styles

body{
  background-color: @bodyBackground;
}


.page{
  margin-left: auto;
  margin-right: auto;
  width: @pageWidth;
  background-color: @pageBackground;
}

//Text Styles

.title{
  text-align: center;
  margin-top: 0px;
  margin-left: @standardMargin;
  margin-right: @standardMargin;
  background-color: @titleBackground;
}

.title1{
  font: 40px @fontFace, sans-serif;
  color:@textColor1;
  padding-top:140px;
}

.title2{
  font: 24px @fontFace, sans-serif;
  color:@textColor2;
  padding-top:40px;
}

.title3{
  font: 18px @fontFace, sans-serif;
  color: @textColor3;
  padding-top:10px;
}

.bodyText{
  font: 16px @fontFace, sans-serif;
  font-weight: 100;
  color:@textColor2;
  text-align: start;
}

.tableContent{
  font: 18px @fontFace, sans-serif;
  font-weight: 100;
  color: @textColor3;
  margin-top:24px;
}

//Flex Styles

.flexContainer {
  display:flex;
  margin-top:60px;
  justify-content:"space-evenly";
  background-color: @flexBackground;
}

.flexGallery{
  background-color: @flexGalleryBackground;
}

.flexContent {
  margin:10px;
  background-color: @flexContentBackground;
}

.flexConnected{
  margin-top:0px; 
  padding-top: 20px;
}


.flexSelector{
  height:8px;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: @selectionBackground;
  opacity: 0;
}

.flexGrid{
  margin:10px;
  width:60px;
  height:8px;
  font-size: xx-small;
  color: gray;
  background-color: gray;

}

.bar{
	background-color: #4178BE; 
	width:60px; 
	height: 16px;
	margin-top:28.5px;
	padding-left: 3px;
	border-radius: 3px;
	color: white;
	//color:#4178BE; 
	text-align: left;
	font-size: small;
}

.barText{
	color: #4178BE;
	height: 26px;
	//color:#4178BE; 
	text-align: right;
	font-size: small;
}

.col { width: 6.25%; margin: 01.041666666667%; float: left /* X-browser */ }
.col-1 { width: 6.25%; }
.col-2 { width: 14.583333333333%; }
.col-3 { width: 22.916666666667%; }
.col-4 { width: 31.25%; }
.col-5 { width: 39.583333333333%; }
.col-6 { width: 47.916666666667%; }
.col-7 { width: 56.25%; }
.col-8 { width: 64.583333333333%; }
.col-9 { width: 72.916666666667%; }
.col-10 { width: 81.25%; }
.col-11 { width: 89.583333333333%; }
.col-12 { width: 97.916666666667%; }
